.q-activity {
  position: relative;
  list-style: none;
  padding-inline-start: 0;
  --qactivity-bar-start-offset: 0;
  --qactivity-bar-end-offset: 0;
  --qactivity-bar-start-radius: 0;
  --qactivity-bar-end-radius: 0;
  --qactivity-item-icon-padding-block-start: 10px;
  --qactivity-item-icon-padding-inline-end: 15px;
  --qactivity-item-icon-padding-block-end: 5px;
  --qactivity-item-icon-padding-inline-start: 8px;
}

.q-activity::before {
  position: absolute;
  display: block;
  content: '';
  top: var(--qactivity-bar-start-offset);
  bottom: var(--qactivity-bar-end-offset);
  z-index: 1;
  left: var(--qactivity-bar-distance);
  width: var(--qactivity-bar-width);
  background-color: var(--qactivity-bar-color);
  transform: translateX(-50%);
  border-start-start-radius: var(--qactivity-bar-start-radius);
  border-start-end-radius: var(--qactivity-bar-start-radius);
  border-end-start-radius: var(--qactivity-bar-end-radius);
  border-end-end-radius: var(--qactivity-bar-end-radius);
}

.q-activity--bar-start-hidden,
.q-activity--bar-start-arrow {
  --qactivity-bar-start-offset: var(--qactivity-bar-cap-size);
}

.q-activity--bar-end-hidden,
.q-activity--bar-end-arrow {
  --qactivity-bar-end-offset: var(--qactivity-bar-cap-size);
}

.q-activity--bar-start-round {
  --qactivity-bar-start-radius: var(--qactivity-bar-width);
}

.q-activity--bar-end-round {
  --qactivity-bar-end-radius: var(--qactivity-bar-width);
}

.q-activity--bar-start-rounded {
  --qactivity-bar-start-radius: 4px;
}

.q-activity--bar-end-rounded {
  --qactivity-bar-end-radius: 4px;
}

.q-activity__bar-cap {
  position: absolute;
  left: var(--qactivity-bar-distance);
  z-index: 1;
  width: 0;
  height: 0;
  list-style: none;
  pointer-events: none;
}

.q-activity__bar-cap--start {
  top: 0;
  border-inline-start: var(--qactivity-bar-cap-size) solid transparent;
  border-inline-end: var(--qactivity-bar-cap-size) solid transparent;
  border-block-end: var(--qactivity-bar-cap-size) solid var(--qactivity-bar-color);
}

.q-activity__bar-cap--end {
  bottom: 0;
  border-inline-start: var(--qactivity-bar-cap-size) solid transparent;
  border-inline-end: var(--qactivity-bar-cap-size) solid transparent;
  border-block-start: var(--qactivity-bar-cap-size) solid var(--qactivity-bar-color);
}

.q-activity--normal {
  margin: 10px;
}

.q-activity--dense {
  margin: 0;
  --qactivity-item-icon-padding-block-start: 4px;
  --qactivity-item-icon-padding-inline-end: 8px;
  --qactivity-item-icon-padding-block-end: 2px;
  --qactivity-item-icon-padding-inline-start: 4px;
}

.q-activity .q-activity-item {
  position: relative;
}

.q-activity .q-activity-item--icon {
  position: relative;
  padding-block-start: var(--qactivity-item-icon-padding-block-start);
  padding-inline-end: var(--qactivity-item-icon-padding-inline-end);
  padding-block-end: var(--qactivity-item-icon-padding-block-end);
  padding-inline-start: var(--qactivity-item-icon-padding-inline-start);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.q-activity .q-activity-item--content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
