.q-activity 
  position relative
  list-style none
  padding-inline-start 0px
  &:before 
    position absolute
    display block
    content ''
    height 100%
    top 0
    bottom 0
    z-index 1
    left var(--qactivity-bar-distance, 15px)
    width var(--qactivity-bar-width, 2px)
    background-color var(--qactivity-bar-color, black)
  &--normal
    margin 10px 10px 10px 10px
  $--dense
    margin 0 0 0 0
  .q-activity-item 
    position relative
    &--icon
      position relative
      padding 10px 15px 5px 8px
      display flex
      justify-content space-between
      align-items center
      z-index 2
    &--content
      position relative
      display flex
      justify-content space-between
      align-items center
